.specialDay {
  background-color: #fec;
}
.specialDay2 {
  background-color: rgb(207, 207, 207);
}
.specialDay3 {
  background-color: #444970;
}
.specialDay4 {
  background-color: #a4e1fd;
}
.specialDay5 {
  background-color: #90dfd2;
}
.specialDay5 {
  background-color: orange;
}
